
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
/bin/
build/
# Cache of project
/.classpath
.gradle
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar
# Ignore Gradle GUI config
/.project
/reports/
/.settings/
